.OrgForm{
    text-align: right;
    position: absolute;
    background-color: cornflowerblue;
    padding-left: 25px;
    padding-right: 35px;
    padding-top: 75px;
    padding-bottom: 75px;
    display: inline-block;
    border-radius: 8px;
    color: gainsboro;
    margin-left: 20%;
}
.OrgList{
    text-align: center;
    position: absolute;
    background-color: cornflowerblue;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 75px;
    padding-bottom: 75px;
    display: inline-block;
    border-radius: 8px;
    color: gainsboro;
    margin-left: 65%;
}
.form-submit-button{
    background: cornflowerblue;
    color: #fff;
    border: 1px solid #535353;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #535353;
    text-shadow:none;
    height: 30px;
    width: 110px;
}
.form-submit-button:hover {
    background: #fff;
    color: #535353;
    border: 1px solid #535353;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
}